<%= render 'pages/home' unless user_signed_in? %>

<div class="main-container">
      <header class="signup"> 
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="/images/home.jpg">
          </div>
          
          <div class="container text-center">
              <div class="row text-center">
                <div class="col-sm-12 text-center">
                  <h1 class="text-white">Browse</h1>
                
                </div>
              </div>
            </div><!--end of container-->
      </header>

      <div class="main-container">
        <div class="row">
          <div class="col-md-1">
            &nbsp;
          </div>
            <div class="col-md-10 row-offset-1 row-offset-2">

              <h1>Browse Channels</h1>

<div id="pins" class="transitions-enabled">
  <% @channels.each do |channel| %>
     <div class="box panel panel-default">
        <%= channel.name %>
        <%= channel.description %>
        <%= link_to 'Show', channel %>
    </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Channel', new_channel_path %>


</div>
</div>
</div>

</div>
