<div class="main-container">
  <header class="signup">
    <div class="background-image-holder parallax-background">
      <img class="background-image" alt="Background Image" src="/images/forms.jpg">
    </div>

    <div class="container text-center">
      <div class="row text-center">
        <div class="col-sm-12 text-center">
          <% if @user.image? %>
          <%= image_tag @user.image.url(:thumb), alt: @user.name, class: 'profile-image' %>
          <% end %>
          <h1 class="text-white">Profile</h1>
         <% if user_signed_in? %>
     <% else %>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-white btn-primary" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-filled" %>
  <% end %> 
        </div>
      </div>
    </div>
  </header>

  <div class="container"><br><br>

    <div class="center"><h1>My Channels:</h1></div>

    <% if user_signed_in? %>
      <div class="col-md-3">
        <%= link_to new_channel_path do %>
          <div class="new_channel_box">
            Add Channel <br />
            <i class="fa fa-plus-circle fa-2x"></i>
          </div>
        <% end %>
      </div>
    <% end %>

    <div id="pins" class="transitions-enabled">

      <% @channels.each do |channel| %>
        <div class="col-md-3">
          <%= link_to channel do %>
            <div class="channel_box">
              <% if channel.image? %>
                <span><%= image_tag channel.image.url(:medium) %></span>
              <% end %>

            </div>
            <div class="channel_footer">
              <hr style="margin: 10px 0">
              <h4><%= channel.name %></h4>
              <%= channel.description.truncate(60) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>

</div>
