<div class="main-container">
			<header class="signup"> 
					<div class="background-image-holder parallax-background">
						<img class="background-image" alt="Background Image" src="../images/browse.jpg">
					</div>
					
					<div class="container text-center">
							<div class="row">
								<div class="col-sm-12 text-center">
									<img src="/images/home-text.png" alt="A free mental health app. Discover resources, tips, and inspiration for recovery."><br><br>
											   <% if user_signed_in? %>
          <%= link_to "Browse", channels_path, class: "btn btn-primary btn-filled" %>
     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-white btn-primary" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-filled" %>
       </p>
  <% end %>  
							
								</div>
							</div>
						</div>
			</header>
			
					<a id="services" class="in-page-link"></a>


			<section class="pure-text-centered">
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
							<span class="sub alt-font-upper">A free mental health app</span><br>
							<br><img src="/images/home-text2.png" alt="Can an app really make you happy?"><br><br>
							<p class="lead">
								Well, no.  Here's the thing: happiness is an inside job.  So no app, hot boyfriend (or girlfriend), delicious food, new iPhone, big house, six figure job, nice car, or six pack abs are ever going to give you long-lasting happiness.  That's because happiness doesn't come from external validation, it comes from YOU.<br><br>

								Now you might be wondering what the point of making a mental health app is if it's not going to make you happy.  The point is to get you to see that happiness is a choice.  You don't have a choice in having a mental illness, but you do have a choice in whether or not you take the actions necessary to start getting better.  It's the hardest thing in the world, but choosing recovery will be the most worthwhile thing you ever do.<br><br>

								We want to help you out because there really are things you can do that make depression and anxiety a lot easier.  Life does NOT have to suck just because you have depression or anxiety.  You only get one life, so make this one amazing.  You deserve it, beautiful.<br><br>

                <% if !user_signed_in? %>
                  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
                <% else %>
                  <%= link_to "Browse", channels_path, class: "btn btn-primary" %>
                <% end %><br><br>

                <a href="https://itunes.apple.com/us/app/resilient/id968678316?ls=1&mt=8"><img src="/images/app-store.png"></a> &nbsp; <a href="https://play.google.com/store/apps/details?id=com.goodbarber.resilient&hl=en"><img src="/images/google-play.gif"></a>
							</p>
						</div>
					</div>
		
				</div>
			</section>
			
			<section class="duplicatable-content">
			
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<img src="/images/home-text3.gif" alt="Fall in love with life again"><br><br>
						</div>
					</div><br>
		
					<div class="row">
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-compass"></i>
								</div>
								<div class="pull-right">
									<h5>Lost?  Don't worry.</h5>
									<p>
										Hey, I've been there.  But nothing makes you happier faster than figuring out what your passion in life is and going after it with a stick.  We'll help you find your true north.
									</p>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-happy"></i>
								</div>
								<div class="pull-right">
									<h5>Do what makes you happy.</h5>
									<p>
										Stop thinking about what society says you should do.  If you don't want to go to college, get married, buy a house with a white picket fence, work at a job you hate, and have 2.2 kids, then don't.  What do <em>you</em> want?  Do that instead.
									</p>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-heart"></i>
								</div>
								<div class="pull-right">
									<h5>Find what you love.</h5>
									<p>
										Life can feel pretty meaningless when there's no passion.  But if you can find the things you really and truly love (and I promise you have at least one passion!), then life gets so much better.
									</p>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-paperclip"></i>
								</div>
								<div class="pull-right">
									<h5>Save useful resources.</h5>
									<p>
										We'll help you discover awesome images, tips, quotes, websites, resources, and more to help you recover.  And with our app, you can save them onto channels based on mood or whatever you want (such as a channel for when you feel anxious, a channel for future dreams, etc).
									</p>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			
			</section>
			
			
			
			<a id="contact" class="in-page-link"></a>
			<section class="social-bar no-pad">

				<div class="col-md-2 no-pad">
						<div class="link bg-three"><br><br>
							<span class="text-white">SOCIAL</span>
						</div>
					</a>
				</div>

				<div class="col-md-2 no-pad">
					<a href="https://twitter.com/resilientapp">
						<div class="link bg-twitter">
							<div class="initial">
								<i class="icon social_twitter"></i>
							</div>
						
							<div class="hover-state">
								<span class="text-white">Follow On Twitter</span>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-md-2 no-pad">
					<a href="https://www.facebook.com/resilientapp">
						<div class="link bg-facebook">
							<div class="initial">
								<i class="icon social_facebook"></i>
							</div>
						
							<div class="hover-state">
								<span class="text-white">Friends on Facebook</span>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-md-2 no-pad">
					<a href="http://www.pinterest.com/resilientapp/">
						<div class="link bg-pinterest">
							<div class="initial">
								<i class="icon social_pinterest"></i>
							</div>
						
							<div class="hover-state">
								<span class="text-white">Pins on Pinterest</span>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-md-2 no-pad">
					<a href="http://resilient-page.tumblr.com/">
						<div class="link bg-tumblr">
							<div class="initial">
								<i class="icon social_tumblr"></i>
							</div>
						
							<div class="hover-state">
								<span class="text-white">Thoughts on Tumblr</span>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-2 no-pad">
					<a href="http://instagram.com/resilient.app">
						<div class="link bg-instagram">
							<div class="initial">
								<i class="icon social_instagram"></i>
							</div>
						
							<div class="hover-state">
								<span class="text-white">Pics on Instagram</span>
							</div>
						</div>
					</a>
				</div>
			</section>
		</div>
			</div></div>
