<div class="main-container">
      <header class="signup"> 
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="/images/resources.jpg">
          </div>
          
          <div class="container text-center">
              <div class="row text-center">
                <div class="col-sm-12 text-center">
                  <h1 class="text-white">Resources</h1>
                </div>
              </div>
            </div><!--end of container-->
      </header>

     <div class="main-container">
        <div class="row">
          <div class="col-md-1">
            &nbsp;
          </div>
            <div class="col-md-10 row-offset-1 row-offset-2">

               <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Resilient Main -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4579984495238903"
     data-ad-slot="9304520911"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script><br><br>

<h1>Let's get your life back on track.</h1><br>

You're awesome, and we have something for you (ooh presents!).  Below are some resources that we've created to help you in your recovery journey.  Hope you find this helpful!<br><br>

<h3>Shop</h3><br><br>

<% Course.enabled.top.each do |c| %>
  <%= link_to c do %>
    <%= image_tag c.preview_image.url(:medium), alt: c.title, style: "padding: 20px;" %>
  <% end %>
<% end %>
 <a href="/slow-it-down"><img src="/images/sid.jpg" style="padding: 20px;"></a> <a href="/figure-out-your-life"><img src="/images/foyl.jpg" style="padding: 20px;"></a> <a href="/negativity-detox"><img src="/images/30dnd.jpg" style="padding: 20px;"></a> <a href="http://society6.com/resilientstore"><img src="/images/inspirational-prints.jpg" style="padding: 20px;"></a><br>
<br>
<%= link_to("More Classes", courses_path) if Course.enabled.count > 10 %>
<br><br>

<h3>Articles</h3><br><br>

<% Article.enabled.top.each do |a| %>
  <%= link_to a do %>
    <%= image_tag a.preview_image.url(:medium), alt: a.title, style: "padding: 20px;" %>
  <% end %>
<% end %>
<a href="/recommended-reading"><img src="/images/recommended-reading.jpg" style="padding: 20px;"></a> <a href="/goal-setting-prompts"><img src="/images/goal-setting-prompts.jpg" style="padding: 20px;"></a> <a href="/heal-with-forgiveness"><img src="/images/forgiveness-button.jpg" style="padding: 20px;"></a> <a href="/how-to-figure-out-what-you-want"><img src="/images/whatyouwant-button.jpg" style="padding: 20px;"></a> <a href="/drop-out-of-school"><img src="/images/dropout-button.jpg" style="padding: 20px;"></a> <a href="/self-sabotage"><img src="/images/sabotage-button.jpg" style="padding: 20px;"></a>
<br>
<%= link_to("More Articles", articles_path) if Article.enabled.count > 100 %>

<br><br><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Resilient Main -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4579984495238903"
     data-ad-slot="9304520911"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>
</div>
</div>
</div>
</div>
